#credits {
    padding-top: 50px;
}

#credits h2 {
    font-size: 2em;
    color: #006666;
    text-align: center;
}

#credits .credits-grid {
    display: grid;
    gap: 30px;
    padding-top: 20px;
}

#credits .credit {
    background: rgba(160, 214, 214, 0.1);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    transition: all 0.5s ease;
}

#credits .credit:hover {
    transform: scale(1.05);
}

#credits .credit h3 {
    font-size: 1.5em;
    color: #4A4E69;
}

#credits .credit p {
    margin-bottom: 15px;
}