#skills {
    padding-top: 50px;
    padding-bottom: 50px;
}

#skills h2 {
    font-size: 2em;
    color: #006666;
    text-align: center;
}

#skills ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
    list-style: none;
}

#skills ul li {
    background: #E6E6FA;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.3em;
    transition: all 0.3s ease;
    margin-top: 10px;
}

#skills ul li:hover {
    background: #D9D2E9;
    transform: translateY(-5px);
}