#why-hire {
    padding-top: 50px;
}

#why-hire h2 {
    font-size: 2em;
    color: #006666;
    text-align: center;
}

#why-hire .usp-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

#why-hire .usp-card {
    background: rgba(160, 214, 214, 0.1);
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#why-hire .usp-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

#why-hire .usp-icon {
    font-size: 2.5em;
}

#why-hire .usp-card h3 {
    font-size: 1.3em;
}